:root{
  --dark-blue: #1E1F42;
  --bronze: #B67233;
  --white: #FFFFFF;
}

html{
  background-color: var(--white);
}


@font-face {
  font-family: bahnhof-regular;
  src: url('bahnhof-regular-regular.otf');
}

h1 {
  font-family: bahnhof-regular;
  color: var(--dark-blue);
}