:root {
  --dark-blue: #1E1F42;
  --bronze: #B67233;
  --white: #FFFFFF;
  font-family: 'Roboto', sans-serif;


}

html {
  background-color: var(--white);
}


@font-face {
  font-family: bahnhof-regular;
  src: url('bahnhof-regular-regular.otf');
}

.bahnhof-regular {
  font-family: bahnhof-regular;
  font-size: xx-large;
}

.permanent-marker {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-content {
  max-width: 80ch;
}



#marlow-logo{
  margin:auto;
}
.video {
  height:auto;
  
}