:root{
  --dark-blue: #1E1F42;
  --bronze: #B67233;
  --white: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

html{
  background-color: var(--white);
}


@font-face {
  font-family: bahnhof-regular;
  src: url('bahnhof-regular-regular.otf');
}

.bahnhof-regular {
  font-family: bahnhof-regular;
}

.permanent-marker {
  font-family: 'Permanent Marker', cursive;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


#logo{
  width:100%; 
  max-width: 32rem;
  float: right;
  height: auto; 
}